{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
    <form id="password-form" action="/user/update/password" method="post">
        <div class="input-group">
            <label for="current-password">현재 비밀번호</label>
            <input id="current-password" type="password" name="currentPassword"></div>
        <div class="input-group">
            <label for="new-password">변경할 비밀번호</label>
            <input id="new-password" type="password" name="newPassword"></div>
        <div class="input-group">
            <label for="confirm-password">비밀번호 확인</label>
            <input id="confirm-password" type="password" name="confirmPassword">
        </div>
        <button id="change-btn" type="submit" class="btn">변경하기</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const messages = {
        'current': '비밀번호가 틀렸습니다.',
        'confirm': '비밀번호가 일치하지 않습니다.',
    };
    const message = messages[urlParams.get('password')];
    if (message) alert(message);

    if (urlParams.get('password') === 'updated') {
        alert('비밀번호가 성공적으로 변경되었습니다.\n다시 로그인 해주세요.');
        fetch('/auth/logout', {
            method: 'GET'
        }).then(response => {
            if (response.ok) {
                alert('로그아웃 되었습니다.');
                window.location.href = '/';
            }
            else alert('로그아웃에 실패하였습니다.');
        }).catch (err => {
            console.error('로그아웃 요청 중 에러 발생: ', err);
            alert('오류가 발생하였습니다.');
        });
    }
</script>
{% endblock %}