{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
    <div class="followings half">
        <h2>팔로잉 목록</h2>
        {% if user.Followings %}
        {% for following in user.Followings %}
        <div>{{following.nick}}</div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="followers half">
        <h2>팔로워 목록</h2>
        {% if user.Followers %}
        {% for follower in user.Followers %}
        <div>{{follower.nick}}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="update-nick">
    <form id="profile-form" action="/user/update/nick" method="post">
        <label for="nick-update">닉네임 변경</label>
        <input id="nick-update" type="text" name="nick">
        <button id="nick-btn" type="submit" class="btn">변경하기</button>
    </form>
</div>
{% endblock %}